html,
body {
    height: 100%;
    overflow-x: hidden;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap-black {
    background-color: #383435;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.site-login {
    margin-left: 30%;
}

.form-group {
    height: 30px;
}

.warn {
    margin: 1px;
    -webkit-box-shadow: 1px 2px 7px -1px #000000;
    box-shadow: 1px 2px 7px -1px #000000;
}

.warn > div:first-child {
    color: white;
    background-color: gold;
    font-size: 21px;
    padding: 15px;
}

.warn > div:last-child {
    background-color: white;
    padding: 10px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin-bottom: 15px;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

}

@media(max-width:1199px) {
    div[name="driver-item-tab-1"] {
        height: 890px;
    }

    div[name="driver-item-tab-2"] {
        height: 1050px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .text-sm-left {
        text-align: left !important;
    }
}

@media(min-width:1200px) {
    div[name="driver-item-tab-1"] {
        height:auto;
    }

    div[name="driver-item-tab-2"] {
        height: auto;
    }

    .text-sm-left {}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#add-driver-form > .form-group {
    height: 30px;
}

.bootstrap-switch-id-companydashboardform-dup_address {
    margin-left: 15px;
    margin-top: 4px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-12 {
    margin-right: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.driver-item {
    text-align: center;
    cursor: pointer;
}

.driver-item:hover {
    background-color: #ecf9ff !important;
}

.driver-item select {
    font-family: "Font Awesome 5 Free", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    width: 50px;
    height: 32px;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.driver-item select:focus {
    border: none;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.field-required {
    color: red;
    font-size: 12px;
    padding: 3px;
}

.control-tools {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.refresh-button-holder {
    text-align: center;
    margin-top: 20%;
}

.refresh-button-holder > span {
    font-size: 27px;
    color: white;
    background-color: orange;
    border-radius: 34px;
    padding: 15px;
    cursor: pointer;
}

.spinner-holder {
    text-align: center;
    margin-top: 20%;
    font-size: 45px;
    color: orange;
}

.spinner-holder-data {
    font-size: 45px;
    color: orange;
}

.has-error {
    border-color: lightcoral;
}

.fake-bnt {
    font-size: 14px;
    font-weight: 100;
    font-family: inherit;
    line-height: 2;
    text-shadow: none;
    cursor: pointer;
    display: inline-table;
}

.fake-bnt:hover {
    background-color: #3cb0de;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: darkgrey;
    padding: 12px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid darkgrey;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.living-address{}

.lh-15 {
    line-height: 1.5;
}

.ui-autocomplete-input {
    border: 1px solid #a7a7a7;
    line-height: 2;
    border-radius: 5px;
    width: 100%;
}

.driver-info-container{
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px;
}

.bnt-container > button {
    width: 100%;
    text-align: right;
}

.bnt-container > button >span {
    margin-right: 10px;
}

#driverprofileworkplaceform-guarantor, #driverprofileworkplaceform-action {
    resize: none;
    height: 80px;
    margin-bottom: 10px;
}

.help-notification {
    font-size: 10px;
    color: gray;
    font-style: italic;
    padding-left: 10px;
}

.rait-up {
    background-color: lightgreen;
}

.rait-down {
    background-color: pink;
}

.control-label-left {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
}

.custom-link {
    color: grey;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    cursor: pointer;
}

.custom-link:hover {
    color: #0a73bb;
}

#wrapper-restore {
    display: none;
}

.message {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.agree-text {
    font-size: 12px;
    font-style: normal;
}

.agree-text span {
    color: #7ac016;
    text-decoration: dotted;
    cursor: pointer;
}

.forget-label-pos {
    margin-top: -40px;
}

.report-start-notification {}

.report-start-information {}

@media (max-width: 768px){
    .report-start-notification {
        font-size: 13px;
    }

    .report-start-information {
        font-size: 0.8em;
    }
}

/* Branding */

.company-logo {
    background-color: white;
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 20px;
    margin-top: -8px;
    border: 15px solid #1d5392;
}

.company-footer {
    background-color: #222;
    color: white;
    border-color: #222;
}

.company-label {
    display: inline-table;
    vertical-align: middle;
    line-height: 3;
    margin-top: -24px;
    margin-left: 12px;
}

.company-nav-position {
    margin-top: 45px;
}

@media (max-width: 768px){
    .company-nav-position {
        margin-top: 0;
    }
}

.company-pre-nav {
    background-color: #383435;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.form-wrap {
    background-color: #767171;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 400px;
    min-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

@media (max-width: 768px){
    .form-wrap {
        margin-left: 0;
        margin-right: 0;
    }
}

.form-wrap-1 {
    background-color: #767171;
    border-radius: 5px;
    max-width: 400px;
    min-width: 330px;
    float: right;
}


.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
    font-weight: 600;
}

.navbar-inverse {
    border-color: initial;
}

.bnt-regular, .bnt-lg-regular {
    color: white;
    font-weight: 600;
    background-color: #7ac016;
}

.bnt-lg-regular {
    width: 180px;
    line-height: 3;
}

.company-font-color {
    color: white;
}

.company-font-color2 {
    color: #6c9f5e;
    font-weight: 200;
}

.company-font-color3 {
    color: #555555;
}

.form-group input, .form-group select, .form-control {
    font-family: "Font Awesome 5 Free", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.company-landing-name {
    padding-top: 20%;
    font-size: 5em;
    font-weight: 600;
}

.company-landing-header1 {
    max-width: 600px;
    margin-top: 50px;
}

.company-landing-block1 {
    width: 100%;
    background-color: white;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    padding: 6%;
}

.company-landing-block3 {
    margin-top: 65px;
    margin-right: 0;
    margin-left: 0;
    padding: 6%;
}

.company-landing-promo-bnt {
    width: 100%;
    line-height: 30px;
}

.company-landing-container-fullscreen {
    width: 100%;
    padding: 0 !important;
}

.company-landing-block2 {
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 60px;
    margin-bottom: 50px;
}

@media (max-width: 768px){
    .company-landing-block2 {
        padding-left: 10px;
        padding-top: 25px;
    }
}

.licence-text-container {
    margin: 0px;
    width: 100%;
    height: 500px;
    padding: 0;
    border: none;
    resize: none;
    outline: none !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    filter: invert(63%) sepia(4%) saturate(3585%) hue-rotate(62deg) brightness(90%) contrast(84%);
    float: left;
    margin-top: -12px;
    margin-right: 10px;
}

.icon32 {
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

@media (max-width: 768px){
    .icon32 {
        margin-top: 4px;
        margin-left: 4px;
    }
}

.icon-handshake {
    background-image: url("/assets/icons/handshake.svg");
}

.icon-balance {
    background-image: url("/assets/icons/balance.svg");
}

.icon-bu3 {
    background-image: url("/assets/icons/bu_3.svg");
}

.icon-contract {
    background-image: url("/assets/icons/contract.svg");
}

.icon-growth {
    background-image: url("/assets/icons/growth.svg");
}

.icon-mobilemoney {
    background-image: url("/assets/icons/mobile_money.svg");
}

.icon-transfer {
    background-image: url("/assets/icons/transfer.svg");
}

.icon-bigdata {
    background-image: url("/assets/icons/big_data.svg");
}

.icon-bu2 {
    background-image: url("/assets/icons/bu_2.svg");
}

.icon-fn_transfer {
    background-image: url("/assets/icons/fn_transfer.svg");
}

.icon-search {
    background-image: url("/assets/icons/search.svg");
}

.field-registerform-utype {
    display: none;
}

.component-correction .kv-date-remove {
    border-radius: 0 5px 5px 0 !important;
}

.component-correction .kv-date-picker {
    display: none;
}
